<div class="nav">
  <a href="<%= url_for('/') %>" class="logo"></a>
  <%= yield_content :header_logo %>
  <nav>
    <a class="menu" data-modal="menu">
      Menu
      <span class="icon menu"></span>
    </a>
  </nav>
</div>
