header {
  background-color: $orange-tint;

  #logo {
    @include image('logo.png', no-repeat left top);
    background-size: 167px 32px;
    display: inline-block;
    width: 167px;
    height: 32px;
    + span {
      color: white;
      font-family: $font-alt;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: top;
      position: relative;
      top: 12px;
      left: 6px;
    }
  }

  .nav {
    width: $container-alt-width;
    margin: 0 auto;
    padding-top: 40px;
  }

  nav {
    display: inline-block;
    float: right;
    padding-top: 5px;
    a {
      color: white;
      font-family: $font-alt;
      font-size: 18px;
      text-transform: uppercase;
      .icon {
        font-size: 24px;
        position: relative;
        top: 4px;
      }
    }
  }

  h1 {
    color: white;
    text-align: center;
    font-size: 72px;
  }

  h2 {
    text-align: center;
    color: white;
    font-size: 30px;
    text-transform: none;
    font-family: $font-main;
    letter-spacing: 0;
  }

  .modal {
    background: rgba(23, 32, 40, 0.99);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 999;
    .container {
      background-image: none !important;
      padding-top: 40px;
      width: $container-alt-width;
    }
    .links {
      padding: 25px 0 0 0;
      text-align: center;
      clear: both;
      a {
        font-family: $font-alt;
        display: block;
        color: white;
        font-size: 48px;
        text-transform: uppercase;
        margin-bottom: 18px;
        &:hover {
          color: $yellow-tint;
        }
      }
    }
  }

  // white/dark header
  &.dark {
    background: white;
    min-height: auto;
    .nav > #logo {
      @include image('logo_black.png', no-repeat left top);
      background-size: 167px 32px;
      + span {
        color: $font-color;
      }
    }
    .nav > nav {
      > a {
        color: $font-color;
      }
    }
  }

}
