// image
@mixin image($image, $opts) {
  background: url(image_path($image)) $opts;
}

// headers wrapper
@mixin headings($from: 1, $to: 6) {
  $selector: '';
  @for $i from $from through $to {
    $selector: 'h#{$i}, #{$selector}';
  }
  #{$selector} {
    @content;
  }
}

// generate grid system
@mixin grid() {
  @for $i from 1 through 12 {
    .col-#{$i} {
      float: left;
      width: percentage($i / 12);
      box-sizing: border-box;
      @content;
    }
  }
}
