// fonts
$font-main: 'CaeciliaLTPro-55Roman';
$font-main-italic: 'CaeciliaLTPro-56Italic';
$font-alt: 'BrandonGrotesque-Bold';

// colors
$font-color: #4F4A4E;
$orange-tint: #BF4113;
$orange-tint-light: #DB470C;
$blue-tint: #363F49;
$blue-tint-dark: #292F36;
$yellow-tint: #E5C351;
$yellow-tint-light: #F8D76A;
$yellow-tint-dark: #BF992B;
$yellow-border: #B8AB75;

// dimensions
$container-width: 1075px;
$container-alt-width: 925px;
$container-blogs-width: 945px;
$container-footer-width: 1125px;
