/**
 * Blog page
 */
section#blog {

  header {
    @include image('header_blog.png', no-repeat);
    background-size: cover;
    .content {
      color: white;
      text-align: center;
      padding: 51px 0 81px 0;
    }
    .category {
      display: block;
      font-size: 18px;
      font-family: $font-alt;
      text-transform: uppercase;
      padding: 0 0 10px 0;
    }
    h1 {
      font-size: 60px;
      text-transform: none;
      line-height: 1.50em;
    }
    h2 {
      font-size: 20px;
      margin-top: -15px;
    }
    .author {
      padding: 30px 0 0 0;
      font-family: $font-alt;
      font-size: 18px;
      text-transform: uppercase;
      img {
        width: auto;
        max-height: 40px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .section {
    h4 {
      font-size: 24px;
    }
    &.blog {
      padding-top: 0;
      .container {
        padding-bottom: 0;
      }
      .banner {
        font-size: 18px;
        .icon {
          font-size: 27px;
          left: 0;
        }
      }
    }
    &.featured {
      margin-bottom: 11px;
      .container {
        padding-bottom: 70px;
      }
    }
  }

  // featured articles
  .categories {
    padding: 0 0 55px 0;
  }

}
