/**
 * Post page
 */
section#post {

  header {
    @include image('header_blog_post.png', no-repeat);
    background-size: cover;
    height: 508px;
    &.dark {
      height: auto;
      background: white;
      padding-bottom: 20px;
    }
    .content {
      img {
        display: block;
        width: 100%;
        height: auto;
        visibility: hidden;
      }
    }
  }

  // featured posts
  .section.featured {
    padding-top: 0;
    h4 {
      font-size: 24px;
    }
    .container {
      padding-top: 0;
      border-bottom: none;
    }
    .col-6:first-of-type {
      border-right: 1px solid $clear-border;
    }
    .banner {
      font-size: 18px;
      .icon {
        font-size: 27px;
        left: 0;
      }
    }
  }

  // disqus vendor
  #disqus_thread {
    padding: 85px 0;
  }

}
