/**
 * Blog page
 */
section#blog {

  header {
    @include image('header_blog.png', no-repeat center);
    background-size: cover;
    .content {
      color: white;
      text-align: center;
      padding: 51px 0 81px 0;
    }
    .category {
      display: block;
      font-size: 18px;
      font-family: $font-alt;
      text-transform: uppercase;
      padding: 0 0 20px 0;
    }
    h1 {
      font-size: 58px;
      text-transform: none;
      line-height: 1.1em;
    }
    h2 {
      font-size: 20px;
      padding-top: 25px;
    }
    .author {
      padding: 30px 0 0 0;
      font-family: $font-alt;
      font-size: 18px;
      text-transform: uppercase;
      img {
        width: auto;
        max-height: 40px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -3px;
        margin-right: 5px;
      }
    }
  }

  .section {
    h4 {
      font-size: 24px;
    }
    &.blog {

      padding-top: 0;
      .container {
        padding-bottom: 0;
      }
      .banner {
        font-size: 16px;
        .icon {
          font-size: 27px;
          left: 0;
        }
      }

      // post
      .grid > * {
        .date a,
        .category {
          color: $yellow-tint;
        }
      }

    }
  }

  // featured articles
  .categories {
    padding: 0 0 55px 0;
  }

}
