/**
 * Home page
 */
section#home {

  // page variables
  $header-height: 495px;

  header {
    @include radial-gradient(circle at 50% 30%, $orange-tint-light 0%, $orange-tint 50%, $orange-tint);
    height: $header-height;
    .container {
      @include image('crest.png', no-repeat center bottom);
      background-size: 801px 422px;
      height: $header-height;
    }
    h1 {
      font-size: 68px;
      margin: 145px 0 10px 0;
      text-shadow: 4px 5px 3px #BA3F1E;
    }
    h2 {
      font-size: 26px;
    }
    a.button {
      display: none;
      text-align: center;
      height: 52px;
      line-height: 62px;
      max-width: 230px;
      margin: 0 auto;
    }
  }

  // blog entries
  .section.blog {
    .grid {
      > * {
        margin-bottom: 0;
      }
    }
  }

}
