/**
 * Home page
 */
section#home {

  // page variables
  $header-height: 495px;

  header {
    @include radial-gradient(circle at 50% 30%, $orange-tint-light 0%, $orange-tint 50%, $orange-tint);
    height: $header-height;
    .container {
      @include image('crest.png', no-repeat center bottom);
      background-size: 801px 422px;
      height: $header-height;
    }
    h1 {
      margin: 150px 0 10px 0;
      text-shadow: 4px 5px 3px #BA3F1E;
    }
  }

  // blog entries
  .section.blog {
    .grid {
      > * {
        margin-bottom: 0;
        a {
          color: $font-color;
        }
      }
    }
  }

}
