@import "bourbon";
@import './_vendor/fonts';
@import './_vendor/icons';
@import './_vendor/normalize';
@import "./_mixins";
@import "./_shared";
@import "./ui";

/**
 * Elements
 */
body {
  font-family: 'CaeciliaLTPro-55Roman';
  font-size: 12px;
  color: $font-color;
  min-width: 1125px;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  &:hover,
  :focus {
    text-decoration: none;
  }
}

p {
  margin: 0;
}

b {
  font-family: $font-alt;
  font-weight: normal;
}

i {
  font-family: $font-main-italic;
  font-style: normal;
}

blockquote {
  margin: 0;
  padding: 0;
  p {
    font-family: $font-main-italic;
    font-size: 40px;
    line-height: 1.25em;
  }
  cite {
    text-transform: uppercase;
    display: block;
    font-family: $font-alt;
    font-style: normal;
    font-size: 20px;
    padding: 0 0 5px 0;
  }
  span {
    font-size: 17px;
  }
}

/**
 * Structure
 */
.container {
  margin: 0 auto;
  width: 1075px;
  box-sizing: border-box;
  &.alt {
    width: 925px;
  }
}

@include headings() {
  display: block;
  font-family: 'BrandonGrotesque-Bold';
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  padding: 0;
  letter-spacing: -1px;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

// pages
@import 'header';
@import 'footer';
@import 'sections';
@import 'home';
@import 'studio';
@import 'contact';
