/**
 * Home page
 */
section#studio {

  // header
  header {
    @include image('header_studio.png', no-repeat);
    background-size: cover;
    h1 {
      font-size: 58px;
      text-transform: none;
      padding: 0 40px;
      text-shadow: none;
      letter-spacing: -1px;
      line-height: 1.15em;
    }
    h2 {
      font-size: 20px;
      padding: 30px 130px 60px 130px;
      line-height: 1.6em;
    }
    b {
      color: white;
      text-transform: uppercase;
      font-size: 20px;
      text-align: center;
      display: block;
      padding: 40px 0 15px 0;
    }
  }

  // brand section
  .section.brand {
    background: $clear-tint;

    h4 {
      padding-bottom: 15px;
      margin-bottom: 0;
    }

    .container {
      padding: 60px 0;
    }

    // content slides
    .slider {
      .pagination {
        padding-top: 50px;
      }
      aside[id*="-breadcrumbs"] {
        bottom: -40px;
      }
      .slide {
        height: 415px;
        @include headings() {
          display: block;
          text-transform: uppercase;
          border: none;
        }
        h3 {
          padding-top: 40px;
          font-size: 34px;
        }
        .button {
          margin-bottom: 20px;
        }
        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          font-size: 30px;
          line-height: 45px;
          margin: 52px auto 45px auto;
          li {
            padding: 0;
            margin: 0;
          }
        }
      }
    }

  }

  // capabilities section
  .section.capabilities {

    // brand icons
    .icon {
      color: $red-tint;
      height: 105px;
      line-height: 105px;
      font-size: 90px;
      display: block;
      text-align: center;
      &:before {
        position: relative;
      }
      &.package {
        font-size: 100px;
        line-height: 100px;
      }
      &.computer {
        font-size: 67px;
        line-height: 118px;
      }
      &.eye {
        font-size: 54px;
        line-height: 115px;
      }

    }
    h3 {
      font-size: 24px;
      border: none;
      padding: 0;
    }

    // brand list
    ul {
      list-style: none;
      padding: 0;
      li {
        margin: 0;
        font-family: $font-alt;
        font-size: 11px;
        text-transform: uppercase;
        padding-bottom: 15px;
        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    // grid
    .col-4 {
      width: 35%;
    }
    .col-3 {
      width: percentage(0.65 / 3);
    }

  }

  // contact section
  .section.contacts {
    .container {
      padding-bottom: 50px;
      font-size: 15px;
      font-family: $font-alt;
      text-transform: uppercase;
      width: $container-blogs-width;
      .grid > * {
        text-align: left;
      }
      b {
        font-size: 24px;
        display: block;
        padding: 0 0 7px 0;
      }
      span {
        display: block;
      }
      img {
        display: block;
        border: 1px solid $yellow-border;
        margin-bottom: 13px;
        max-width: 100%;
        height: auto;
      }
      a {
        font-size: 12px;
        color: $red-tint;
        border-bottom: 1px solid $red-tint;
      }
    }
  }

}
