/**
 * Privacy page
 */
section#terms {

  #terms-header {
    font-size: 60px;
    margin-top: 45px;
    text-align: center;
  }
  @media all and (max-width: $container-width) {
    #terms-header {
      font-size: 40px;
    }
  }

}
