/**
 * Button
 */
button,
.button {
  @include appearance(none);
  display: inline-block;
  background: $yellow-tint;
  border: none;
  border-radius: 3px;
  color: white;
  text-transform: uppercase;
  font-family: $font-alt;
  font-size: 15px;
  line-height: 48px;
  height: 40px;
  padding: 0 16px;
  box-shadow: inset 0 2px 1px $yellow-tint-light, 0 1px 1px rgba(0, 0, 0, 0.17);
  box-sizing: border-box;
  outline: none;
  &:hover,
  &:focus,
  &.active {
    outline: none;
    background-color: $yellow-tint-dark;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
  }
}

/**
 * Form controls
 */
form {

  // input field
  .field {
    &.required {
      label:after {
        content: "*";
        color: $red-tint;
      }
    }
    label {
      display: block;
      margin: 0;
      padding: 0;
      text-align: left;
      font-family: $font-alt;
      font-size: 9px;
      text-transform: uppercase;
      padding: 0 0 6px 0;
    }
    .error {
      color: $red-tint;
      font-size: 9px;
      text-transform: uppercase;
      display: block;
      font-family: $font-alt;
    }
  }

}

/**
 * Input
 */
input {
  height: 40px;
  border: none;
  border-radius: 3px;
  line-height: 44px;
  padding: 0 20px;
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
}

/**
 * Textarea
 */
textarea {
  border: none;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  min-height: 130px;
  padding: 10px 20px;
  line-height: 2em;
}

/**
 * Checkbox
 */
.field.checkbox {
  position: relative;
  &:hover {
    label:before {
      background: white;
    }
  }
  label {
    display: inline-block;
    cursor: pointer;
    padding: 0 !important;
    &:before {
      @extend .icon;
      content: "";
      background: white;
      border: 1px solid #C5B989;
      width: 17px;
      height: 17px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      line-height: 19px;
      margin-right: 8px;
      position: relative;
      top: -3px;
      font-size: 0;
      @include transition(all 80ms ease-in);
    }
  }
  input {
    position: absolute;
    opacity: 0;
    width: 1px !important;
    height: 1px !important;
  }
  input:checked + label:before {
    @extend .icon.check:before;
    font-size: 12px;
  }
}

/**
 * Radio
 */
.field.options {
  position: relative;
  input {
    position: absolute;
    opacity: 0;
    width: 1px !important;
    height: 1px !important;
  }
  .option {
    display: block;
    border: 1px solid $clear-border;
    height: 64px;
    line-height: 70px;
    text-align: center;
    font-size: 18px;
    font-family: $font-alt;
    box-sizing: border-box;
    cursor: pointer;
    @include transition(all 80ms ease-in);
    &.active,
    &:hover {
      color: white;
      border-color: $yellow-border-dark;
      background: $yellow-tint;
    }
  }
}

/**
 * Select
 */
.select {
  background: white;
  height: 49px;
  border: 1px solid $clear-border;
  position: relative;
  box-sizing: border-box;
  select {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    width: 100%;
    z-index: 2;
    opacity: 0.01;
  }
  .icon {
    position: absolute;
    font-size: 34px;
    color: $clear-border;
    top: 50%;
    margin-top: -15px;
    right: 7px;
    z-index: 1;
  }
  .value {
    @include ellipsis;
    display: block;
    font-size: 18px;
    font-family: $font-alt;
    text-transform: uppercase;
    line-height: 56px;
    padding: 0 45px 0 20px;
  }
}

/**
 * Grid
 */
.grid {
  @include clearfix;

  // generate 12 column grid
  @include grid();

  // generate padding 10, 20, and 30
  $paddings: 5 10 20 30;
  @for $i from 1 through length($paddings) {
    // $selector: '&.padded';
    $padding: nth($paddings, $i);
    // @if($i > 0) {
    //   $padding: 10px * $i;
    $selector: '&.padded-#{$padding}';
    // }
    #{$selector} {
      z-index: $padding;
      margin: 0 (-$padding) * 1px;
      $col-selector: '';
      @for $j from 1 through 12 {
        $col-selector: '.col-#{$j}, #{$col-selector}';
      }
      #{$col-selector} {
        padding: 0 ($padding * 1px);
      }
    }
  }
}

/**
 * Slider
 */
.slider {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 45px;

  // white tinted
  &.white {
    aside[id*="-breadcrumbs"] {
      ul {
        li,
        li.normal {
          border-color: white;
          &.active,
          &:hover {
            background: white;
          }
        }
      }
    }
  }

  .slide {
    width: 100%;
  }

  // vendor styling
  aside[id*="-breadcrumbs"] {
    padding: 0;
    left: 0;
    bottom: -5px;
    width: 100%;
    ul {
      display: inline-block;
      padding: 0 13px 0 0;
      &:last-child {
        padding: 0;
      }
      li,
      li.normal {
        background: none;
        border: 2px solid $clear-border;
        border-radius: 100%;
        width: 16px;
        height: 16px;
        margin: 0;
        display: inline-block;
        box-sizing: border-box;
        color: transparent;
        text-indent: -9999px;
        margin-right: 13px;
        &:last-child {
          margin-right: 0;
        }
        &.active,
        &:hover {
          width: 16px;
          height: 16px;
          background: $clear-border;
        }
      }
    }
  }

}

/**
 * Card
 */
.card {
  position: relative;

  &:hover {
    .description {
      opacity: 1;
      visibility: visible;
    }
  }

  // inner info
  .description {
    background: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    @include transition(all 120ms ease-in);
    > span {
      display: block;
      text-align: center;
      position: absolute;
      left: 15px;
      right: 15px;
      width: auto;
      top: 50%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      @include transform(translateY(-50%));
    }
  }

}

/**
 * Modal
 */
.modal {
  background: rgba(23, 32, 40, 0.99);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  @include transition(all 120ms ease-in);
  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

/**
 * Menu categories
 */
.categories {
  display: flex;
  a {
    display: inline-block;
    border: 1px solid $clear-border;
    margin-right: -1px;
    padding: 20px 14px 14px 14px;
    font-size: 12px;
    font-family: $font-alt;
    text-transform: uppercase;
    box-sizing: border-box;
    flex-grow: 1;
    flex-wrap: wrap;
    &.active,
    &:hover {
      background: $yellow-tint;
      color: white;
      border-color: $yellow-tint;
    }
  }
}
