/**
 * Work post page
 */
section#work-post {

  header {
    @include image('header_work_post.png', no-repeat center);
    background-size: cover;
    height: 753px;
    &.dark {
    }
    .content {
      img {
        display: block;
        width: 100%;
        height: auto;
        visibility: hidden;
      }
    }
  }

  // general section
  .section {
    h2 {
      font-size: 17px;
    }
    @include headings {
      border-bottom-width: 1px;
      letter-spacing: 0px;
    };
  }

  // testimonials
  .section.testimonials {
    background: $aqua-tint;
  }

  // featured work
  .section.featured {
    .container {
      width: $container-blogs-width;
      padding-bottom: 65px;
      padding-top: 20px;
    }
    .grid > * {
      width: 50%;
      float: left;
      padding: 5px;
      box-sizing: border-box;
      .card {
        height: 300px;
        > img {
          display: none;
        }
      }
    }
  }

  // recognition
  .section.recognition {
    padding-bottom: 0;
  }

  // post section
  .section.post {

    .container {
      padding-bottom: 0;
    }

  }

}
