/**
 * Home page
 */
section#contact {

  header {

    // main container
    .container {

      .content {
        width: auto;
        padding: 0 30px 0 30px;

        h1 {
          font-size: 32px;
          padding-top: 20px;
        }

        // grid sections
        .grid {
          > * {
            padding-bottom: 20px;
            b {
              font-size: 13px;
            }
            span {
              display: none;
            }
            a {
              font-size: 14px;
            }
            &:last-child {
              display: none;
            }
          }
        }

      }
    }
  }

  // planner
  .planner {
    $button-height: 50px;
    $side-padding: 25px;

    .container {
      padding: 0 $side-padding $button-height $side-padding;
    }

    // description banner
    .banner {
      padding: 25px 30px;
      text-align: center;
      .container {
        padding: 0;
      }
      h2 {
        display: inline-block;
        font-size: 16px;
        line-height: 1;
        margin-bottom: 20px;
        padding-bottom: 8px;
        text-transform: uppercase;
        letter-spacing: 0;
        border-bottom: 1px solid $yellow-border;
      }
      p {
        font-size: 13px;
        line-height: 2em;
        br {
          display: none;
        }
      }
    }

    form {
      padding-top: 15px;
      padding-bottom: 0;

      // description sections
      .desc,
      h4 {
        display: none;
      }

      // form field
      .field {
        margin-bottom: 15px !important;
        label {
          padding-bottom: 5px;
        }
      }

      .field.options,
      .field.textarea {
        margin-bottom: 30px !important;
      }

      // contact checkbox
      .field.contact {
        padding-bottom: 25px;
      }

      // checkbox
      .field.checkbox {
        label {
          font-size: 9px !important;
        }
      }

      .field.type {
        .grid > * {
          width: 50%;
          float: left;
          display: table;
          min-height: 55px;
          &:first-of-type {
            .option {
              border-right: 0 !important;
            }
          }
        }
        .option {
          font-size: 11px;
          padding: 5px 8px 0 8px;
          line-height: 1.5em;
          height: auto;
          display: table-cell;
          vertical-align: middle;
        }
      }

      // services field
      .field.services {
        display: none;
      }

      // comments field
      .field.comments {
        display: none;
      }

      // type select
      .field.type {
        .col-6:first-of-type {
          .option {
            border-right: 1px solid $clear-border;
          }
        }
      }

      // services
      .field.services {
        .option {
          min-height: initial;
          ul {
            padding-bottom: 20px;
          }
        }
      }

      // date fields
      .field.date {
        padding-bottom: 0;
        .select {
          width: 50%;
          &.year {
            width: 47%;
            margin-right: 3%;
          }
        }
      }

      // budget field
      .field.budget {
        .select {
          display: block;
        }
        label {
          display: none;
        }
        .grid {
          display: none;
        }
      }

      // submit button
      button {
        position: absolute;
        margin: 0;
        height: 50px;
        line-height: 56px;
        font-size: 13px;
        width: 100%;
        left: 0;
        right: 0;
        .icon {
          display: none;
        }
      }

      // success form message
      .success {
        display: none;
      }

      // subscribe checkbox
      .field.subscribe {
        span {
          display: none;
          &.collapsed {
            display: inline;
          }
        }
      }

    }

  }

}
