/**
 * Home page
 */
section#home {

  header {

    // normal logo
    .logo {
      width: $logo-width;
    }

    h1 {
      margin: 80px 0 25px 0;
      font-size: 48px;
      line-height: 1.2em;
      text-shadow: none;
    }

    h2 {
      padding: 0 20px 30px 20px;
      font-size: 16px;
    }

    a.button {
      display: block;
    }


  }

  .section {

    .container {
      padding: 55px ($global-padding - 15px) 50px ($global-padding - 15px);
    }

    &.blue-tint {
      .container {
        padding-top: 35px;
        padding-bottom: 0;
      }
      a.button {
        height: 50px;
        line-height: 60px;
        width: 100%;
        display: block;
        margin-bottom: 0;
        border-radius: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
      }
      p {
        margin: 35px 0;
        font-size: 18px;
        max-width: initial;
        br {
          display: none;
        }
      }
    }

    // work section
    &.work {
      img {
        width: 100%;
        height: auto;
      }
      .container {
        padding: 0;
      }
    }

    // blog entries
    &.blog {
      padding: 0;

      .card {
        display: inline-block;
      }
      .category {
        padding: 6px 0;
      }
      .grid {
        > * {
          padding-bottom: 20px;
        }
      }
    }

  }

}
