@import "bourbon";
@import "./../_shared";
@import "./../_mixins";

/**
 * Main structure
 */
@media all and (max-width: $container-width) {

  $global-padding: 20px;

  // structure main blocks
  body {
    min-width: initial;
  }
  .container {
    width: auto !important;
    padding-right: $global-padding !important;
    padding-left: $global-padding !important;
  }

  // section containers
  .section .container {
    padding-right: $global-padding !important;
    padding-left: $global-padding !important;
  }

  // header
  header {
    height: auto !important;
    .container {
      height: auto !important;
    }
    .nav {
      width: auto;
      height: auto !important;
    }

    .modal {
      .links {
        a {
          font-size: 32px;
        }
      }
    }

    @media all and (max-width: 390px) {
      #logo {
        + span {
          display: none;
        }
      }
    }

  }

  // grid systems
  .grid {
    @include grid() {
      float: none;
      width: auto;
      display: block;
    };
    &.padded-5,
    &.padded-10,
    &.padded-20,
    &.padded-30 {
      margin-left: 0;
      margin-right: 0;
    }
    > * {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  // work section
  .section.work {
    .grid {
      @include grid() {
        img {
          width: 100%;
          height: auto;
        }
      };
      @media all and (max-width: 400px) {
        @include grid() {
          width: 100%;
        };
      }
    }
  }

  // footer
  footer {

    nav {
      display: none;
    }

    .banner {
      padding-top: 5px;
      height: auto;
      font-size: 24px;
      line-height: initial;
      .icon {
        font-size: 42px;
      }
      @media all and (max-width: 390px) {
        padding: 16px $global-padding 0 $global-padding;
      }
    }

    .newsletter {

      b {
        padding-bottom: 20px;
      }

      form {
        text-align: right;
        .field {
          width: 100% !important;
          padding: 0 0 12px 0;
          margin-right: 0;
        }
        button {
          margin-right: 0;
        }
        label.error {
          left: initial;
          top: 0;
          right: 0;
        }

      }

      .social {
        margin-top: 30px;
        display: block;
      }

    }

    .legend {
      padding: 11px 0;
      height: auto;
      .logo {
        display: block;
        margin: 5px auto 10px auto;
      }
    }

  }

  // forms
  form {
    .field {
      label.error {
        left: 20px;
      }
    }
  }

  @import './sections';
  @import './home';
  @import './studio';
  @import './contact';
  @import './work';
  @import './blog_post';

}
