@import "bourbon";
@import "./../_shared";
@import "./../_mixins";

/**
 * Main structure
 */
@media all and (max-width: $container-width) {

  $global-padding: 30px;

  // structure main blocks
  body {
    min-width: initial;
  }
  .container {
    width: auto !important;
    padding-right: $global-padding;
    padding-left: $global-padding;
  }

  // section containers
  .section .container {
    padding-right: $global-padding;
    padding-left: $global-padding;
  }

  // header
  header {
    height: auto !important;
    .container {
      height: auto !important;
    }
    .nav {
      width: auto;
      height: auto !important;
      padding-top: 20px;
    }

    // small logo on all pages
    .logo {
      width: 32px;
      + span {
        @include ellipsis(50%);
      }
    }

    // navigation menu
    .modal {
      .logo {
        width: $logo-width;
      }
      .container {
        padding-top: 20px;
      }
      .links {
        padding-top: 50px;
        a {
          margin-bottom: 35px;
          font-size: 32px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

  }

  // grid systems
  .grid {
    @include grid() {
      float: none;
      width: auto;
      display: block;
    };
    &.padded-5,
    &.padded-15,
    &.padded-10,
    &.padded-20,
    &.padded-30 {
      margin-left: 0;
      margin-right: 0;
    }
    > * {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  // footer
  footer {

    nav {
      display: none;
    }

    .banner {
      padding: 30px 0 20px 0;
      height: auto;
      font-size: 22px;
      line-height: initial;
      letter-spacing: -1px;
      .icon {
        font-size: 42px;
        display: none;
      }
      &:hover {
        font-size: 24px;
      }
    }

    .newsletter {

      b {
        padding-bottom: 20px;
      }

      form {
        text-align: right;
        .field {
          width: 100% !important;
          padding: 0 0 12px 0;
          margin-right: 0;
        }
        button {
          margin-right: 0;
        }
        label.error {
          left: initial;
          top: 0;
          right: 0;
        }

      }

      .social {
        display: block;
      }

    }

    .legend {
      display: none;
      font-size: 10px;
      padding: 11px 0;
      height: auto;
      .logo {
      }
    }

    .newsletter {
      form,
      b {
        display: none;
      }
    }

    .contact {
      display: block;
    }

  }

  // forms
  form {
    .field {
      label.error {
        left: 20px;
      }
    }
  }

  @import './sections';
  @import './home';
  @import './studio';
  @import './contact';
  @import './work';
  @import './blog';
  @import './blog_post';
  @import './writer';
  @import './ui';

}
