/**
 * General section
 */
.section {
  @include headings() {
    font-size: 17px;
    padding-bottom: 8px !important;
  };
  p {
    font-size: 18px;
    margin: 60px auto;
    line-height: 2.2em;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/**
 * Showcase section
 */
.section.showcase {
  .slide {
    i {
      font-size: 25px;
    }
    b {
      font-size: 12px;
    }
  }
  .button {
    display: none;
  }
}

/**
 * Work section
 */
.section {

  .banner {
    background: $yellow-tint;
    height: 50px !important;
    line-height: 60px;
    font-size: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
    .icon {
      display: none;
    }
  }

}

/**
 * Post section
 */
.section.post {

  // body elements
  .container.body {

    // images
    img {

      // floated images
      &.right,
      &.left {
        max-width: 100%;
        margin: 0 auto 45px auto;
        float: none;
      }

      // full images
      &.full {
        max-width: 100%;
        left: 0;
        @include transform(none);
      }

    }

    // text elements
    p {

      // padded block
      &.padded {
        padding-left: 0;
        padding-right: 0;
      }

      // image wrapper
      &.block-img {

        // right float
        &.right {
          float: none;
          max-width: 100%;
          margin: 0 auto 45px auto;
        }

        // full width
        &.full {
          img {
            max-width: 100%;
            left: 0;
            @include transform(none);
          }
        }
      }

    }

    // headers
    @include headings {
      &.padded {
        padding-left: 0;
        padding-right: 0;
      }
    };

    // slider
    .slider {
      aside[id*="-control"].border {
        display: none;
      }
    }

    // body slices
    .slice {
      width: auto;

      // testimonial slice
      &[data-slicetype=testimonial] {
        section {
          width: auto;
        }
      }

    }

  }

}

/**
 * Work post
 */
.section.post.work {

  .container.body {
    .slice {
      width: auto;
    }
  }

}
