/**
 * Home page
 */
section#studio {

  header {

    h1 {
      margin: 25px 0;
      font-size: 60px;
    }

    h2 {
      padding-bottom: 25px;
    }

  }

  .section.capabilities {
    // grid
    .col-4,
    .col-3 {
      width: auto;
    }
  }

}
