/**
 * Home page
 */
section#studio {

  header {

    h1 {
      margin: 10px 0 25px 0;
      font-size: 42px;
      padding: 0;
    }

    h2 {
      padding: 0 0 25px 0;
      font-size: 18px;
    }

    b {
      font-size: 14px;
      padding-bottom: 0;
    }

  }

  .section.capabilities {
    // grid
    .col-4,
    .col-3 {
      width: auto;
    }
  }

  // contact section
  .section.contacts {
    .container .grid {
      > * {
        text-align: center;
        padding-bottom: 20px;
        &:last-of-type {
          padding-bottom: 0;
        }
      }
    }
    img {
      width: 60%;
      margin: 0 auto;
    }
  }

}
