/**
 * Home page
 */
section#studioss {

  header {

    h1 {
      margin: 10px 0 25px 0;
      font-size: 42px;
      padding: 0;
    }

    h2 {
      padding: 0 0 25px 0;
      font-size: 18px;
    }

    b {
      font-size: 14px;
      padding-bottom: 0;
    }

  }

  .section.brand {
    .container {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .slider {
      .slide {
        height: auto;
        br {
          display: none;
        }
        ul,
        p {
          font-size: 16px;
          padding: 0 15px;
          margin: 40px 0 20px 0;
        }
        h3 {
          padding-top: 0px;
          font-size: 22px;
        }
      }
    }
  }

  .section.capabilities {
    .container {
      padding: 50px 0;
    }
    // grid
    .col-4,
    .col-3 {
      width: auto;
    }
  }

  // contact section
  .section.contacts {
    .container .grid {
      > * {
        float: left;
        width: 50%;
        padding: 5px !important;
        text-align: center;
        padding-bottom: 20px;
        font-size: 13px;
        &:last-of-type {
          padding-bottom: 0;
        }
        b {
          font-size: 14px;
        }
      }
    }
    img {
      max-width: 420px;
      margin: 0 auto;
    }
  }

}
