/**
 * Work page
 */
section#work {

  // work section
  .section.work {
    .grid {
      > * {
        outline: none;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

}
