/**
 * Work page
 */
section#work {

  header {
    min-height: initial;
    padding-bottom: 55px;
    h1 {
      font-size: 46px;
      line-height: 1em;
      letter-spacing: 0;
      padding: 75px 35px 0 35px;
      br {
        display: inline;
      }
    }
    h2 {
      padding-top: 5px;
      font-size: 16px;
    }
  }

  // work section
  .section.work {
    padding-bottom: 0;
    .container {
      padding: 0;
    }
    .categories {
      padding-bottom: 0;
    }
    .grid {
      > * {
        float: none;
        width: 100%;
        outline: none;
        border-bottom: 1px solid $yellow-border;
        &:last-child {
          border-bottom: none;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

}
