/**
 * Work section
 */
.section.work {

  .grid {

    > * {
      display: none;
    }

    // work entries
    .entry {
      outline: none;

      @media all and (min-width: 620px) {
        float: left;
        width: 50%;
        &:nth-child(2n) {
          clear: right;
        }
        .description {
          img {
            max-width: 40%;
          }
        }
      }

      &:last-child {
        border-bottom: none;
      }

      // description card
      .card {
        height: 210px !important;
        background-size: cover;
        background-repeat: no-repeat;

        // card background
        .background {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          opacity: 0.6;
        }

        // card content
        .description {
          background: none;
          visibility: visible;
          display: block;
          opacity: 1;
          font-size: 13px;

          // project logo
          img {
            max-width: 50%;
            margin-bottom: 10px;
          }
        }

        // main images
        > img {
          display: none;
        }

      }
    }

    // grid view
    .collapsed {
      display: block;
    }

  }

}

/**
 * Work page
 */
section#work {

  header {
    min-height: initial;
    padding-bottom: 55px;
    h1 {
      font-size: 46px;
      line-height: 1em;
      letter-spacing: 0;
      padding: 55px 35px 0 35px;
      br {
        display: inline;
      }
    }
    h2 {
      padding-top: 5px;
      font-size: 16px;
    }
  }

  // work section
  .section.work {
    padding-bottom: 0;

    .container {
      padding: 0;
    }

    .categories {
      padding-bottom: 0;
    }

  }

}

/**
 * Work post
 */
section#work-post {

  .section.work {

    .container {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }

    .grid > * {
      display: block;
      width: 100%;
      float: none;
      padding: 0;
    }

    @media all and (min-width: 620px) {
      .entry {
        width: 50%;
        float: left;
      }
    }

    .banner {
      font-size: 13px;
      .icon {
        display: inline-block;
      }
    }

  }

}
