/**
 * Post section
 */
.section.post {

  // blog info
  .container.info {
    color: $font-color-dark;
    padding: 45px 0 15px 0;

    .category {
      color: $yellow-tint;
      font-size: 18px;
      font-family: $font-alt;
      text-transform: uppercase;
      padding-bottom: 12px;
      display: block;
    }

    h1 {
      font-size: 56px;
      text-transform: none;
      border: none;
      padding-bottom: 5px;
      display: block;
    }

    h2 {
      font-size: 30px;
      border: none;
      text-transform: none;
      font-family: $font-main;
      line-height: 1.5em;
      padding-bottom: 8px;
      display: block;

      br {
        display: none;
      }

    }

    .author {
      font-size: 18px;
      font-family: $font-alt;
      text-transform: uppercase;
      padding: 18px 0 50px 0;

      img {
        display: inline-block;
        width: auto;
        max-height: 40px;
        vertical-align: middle;
        position: relative;
        top: -4px;
        margin-right: 5px;
      }

      span {
        color: $yellow-tint;
      }

    }

    .footer {

      .sharebar {
        display: inline-block;
        border-right: 1px solid $clear-border;
        padding-right: 20px;
        &:last-child {
          border-right: none;
          padding-right: 0;
        }
      }

      .comments {
        display: inline-block;
        padding-left: 20px;
        color: $yellow-tint;
        font-family: $font-alt;
        text-transform: uppercase;
        font-size: 12px;
      }

    }

  }

  // post body
  .container.body {
    @include clearfix;
    color: $font-color-dark;
    width: auto;
    padding: 60px 0;

    // standard text
    p {
      text-align: left;
      font-size: 16px;
      line-height: 2.2em;
      margin: 0 0 35px 0;

      &.padded {
        padding-left: 85px;
        padding-right: 85px;
      }

      b, strong {
        font-family: $font-main;
        font-size: 18px;
        color: darken($font-color, 30%);
      }

      // image wrapper
      &.block-img {
        margin-bottom: 0;
        line-height: initial;
        font-size: initial;

        img {
          display: block;
        }

        // float right
        &.right {
          float: right;
          display: inline-block;
          margin: 10px 0 20px 15px;
          img {
            margin-bottom: 0;
          }
        }

        // full image
        &.full {
          img {
            max-width: initial;
            position: relative;
            left: 50%;
            @include transform(translateX(-50%));
          }
        }

      }

    }

    @include headings {
      display: block;
      font-size: 30px;
      border: none;
      padding: 0;
      text-align: left;
      text-transform: none;
      padding-bottom: 15px;

      &.padded {
        padding-left: 85px;
        padding-right: 85px;
      }

    };

    h2 {
      font-size: 48px;
    }

    // pull quote
    i,
    .pull-quote {
      display: block;
      font-size: 30px;
      font-family: $font-main-italic;
      padding-bottom: 45px;
      text-align: center;
      line-height: initial;
      margin-bottom: 0;
    }

    img {
      max-width: 100%;
      height: auto;
      margin: 0 auto 55px auto;

      &.right {
        width: auto;
        float: right;
        margin: 10px 0 20px 15px;
      }

      &.padded {
        margin-left: 75px;
      }

      &.full {
        max-width: initial;
        position: relative;
        left: 50%;
        @include transform(translateX(-50%));
      }

    }

    .slider {
      margin-bottom: 75px;

      .slide {
        img {
          margin: 0 auto;
        }
      }

    }

    // cite
    p.cite,
    cite {
      text-align: left;
      display: block;
      border-left: 1px solid $red-tint;
      padding: 0 37px 0 37px;
      margin-bottom: 45px;
      font-size: 18px;
      font-family: $font-main-italic;
      position: relative;
      line-height: 1.8em;

      &:before {
        background: white;
        font-family: $font-alt;
        color: $red-tint;
        font-style: normal;
        font-size: 60px;
        content: '\201C';
        line-height: 1;
        height: 35px;
        position: absolute;
        left: -10px;
        padding-top: 8px;
      }

    }

    // oembed slice
    div[data-oembed-provider] {
      margin-bottom: 35px;
      height: 0;
      overflow: hidden;
      padding-bottom: 50%;
      position: relative;

      iframe {
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
      }

    }

    // content slices
    .slice {
      width: $container-blogs-post;
      margin: 0 auto;

      // testimonial slice
      &[data-slicetype=testimonial] {
        background: $aqua-tint;
        width: auto !important;
        color: white;
        padding: 60px 0 50px 0;
        margin-bottom: 35px;

        section {
          width: $container-blogs-width;
          margin: 0 auto;

          p {
            font-family: $font-main-italic;
            font-size: 40px;
            line-height: 1.25em;
            text-align: center;
            margin-bottom: 15px;
          }

          span {
            font-size: 17px;
          }

        }

        section[data-field=author] span {
          text-transform: uppercase;
          display: block;
          font-family: $font-alt;
          font-style: normal;
          font-size: 20px;
          padding: 0 0 5px 0;
        }

      }

      // slider slice
      &[data-slicetype=slides] {
        margin-bottom: 35px;
      }

    }

    // post footer
    .footer {
      border-top: 1px solid $clear-border;
      text-align: left;
      padding-top: 27px;

      .sharebar {
        display: inline-block;
        border-right: 1px solid $clear-border;
        padding-right: 10px;
        margin-right: 10px;
      }

      .tags {
        font-family: $font-alt;
        text-transform: uppercase;
        display: inline-block;

        a {
          color: $yellow-tint;

          &:after {
            content: ",";
          }

          &:last-child {
            &:after {
              content: "";
            }
          }

        }

      }

      .author {
        margin-top: 27px;
        padding: 40px 0;
        border-top: 1px solid $clear-border;
        border-bottom: 1px solid $clear-border;

        img {
          float: left;
          width: 138px;
          height: 138px;
        }

        h4 {
          display: block;
          font-size: 18px;
          padding: 0;
          margin: 0 0 3px 160px;
          text-transform: uppercase;
        }

        p {
          display: block;
          font-size: 16px;
          margin: 0 0 0 160px;
          line-height: 2em;
        }

        a {
          display: inline-block;
          color: $yellow-tint;
        }

        .viewmore {
          font-family: $font-alt;
          text-transform: uppercase;
          font-size: 12px;
        }

      }

    }

  }

}

/**
 * Extended work post
 */
.section.post.work {

  .info {

    // categories
    .category {
      padding: 25px 0 35px 0;

      a {

        &:after {
          content: ",";
        }

        &:last-child {
          &:after {
            content: "";
          }
        }

      }

    }

    // client
    .for {
      font-family: $font-alt;
      font-size: 18px;
      text-transform: uppercase;
      padding-bottom: 50px;

      span {
        font-family: $font-main-italic;
        display: inline-block;
        text-transform: none;
        color: $clear-border;
        padding-right: 5px;
      }

    }

  }

  // post body
  .container.body {
    width: auto;

    .slice {
      width: $container-blogs-width;
    }

  }

}
