/**
 * Showcase section
 */
.section.showcase {
  .container {
    padding-bottom: 40px;
  }
  .slide {
    > * {
      display: block;
    }
    i {
      font-size: 42px;
      margin-bottom: 22px;
    }
    b {
      font-size: 15px;
      text-transform: uppercase;
    }
    img {
      display: table;
      margin: 30px auto 0 auto;
    }
  }
  .button {
    margin-top: 45px;
  }
}
