---
section: privacy
header_class: dark
contact_banner: false
---

<% content_for :header do %>
  <h1>Privacy Policy</h1>
<% end %>

<% content_for :header_logo do %>
  <span>Privacy Policy</span>
<% end %>

<% page = get_page_by_name('privacy') %>

<div class="section page privacy">

  <div class="container alt">

    <%= page.fragments['text'].as_html(nil) %>

  </div>

</div>
