---
section: studio
---

<% content_for :header do %>
  <b>Branding + Design + Strategy</b>
  <h1>Investing in the future by creating brands that improve the quality of life for all.</h1>
  <h2>We partner with forward-thinking, brands, tastemakers, visionares and entrepreneurs struggling to find an identity that connects with their audience and stands out in a crowded market.</h2>
<% end %>

<% content_for :header_logo do %>
  <span>Studio</span>
<% end %>

<div class="section brand">
  <div class="container alt">
    <h4>How We Support your Brand</h4>
    <div class="slider">
      <div class="slide">
        <p>With our help, clients jumpstart their brand's presence <br/>and solve real business problems while addressing the needs <br/>of people planet and profit. </p>
        <h3>Lets Make Great Work</h3>
        <button>Contact Us Now</button>
      </div>
      <div class="pagination">
        <a>1</a>
        <a>2</a>
        <a class="active">3</a>
        <a>4</a>
        <a>5</a>
      </div>
    </div>
  </div>
</div>

<div class="section capabilities">
  <div class="container">
    <h4>Our Capabilities</h4>
    <div class="grid">
      <div class="col-3">
        <span class="icon eye"></span>
        <h3>Brand Identity</h3>
        <ul>
          <li>Brand Collateral</li>
          <li>Brand Creation</li>
          <li>Logo Development</li>
          <li>Identity System</li>
          <li>Naming & Taglines</li>
          <li>Brand Guidelines</li>
        </ul>
      </div>
      <div class="col-4">
        <span class="icon computer"></span>
        <h3>Digital Marketing & Design</h3>
        <ul>
          <li>Information Architecture</li>
          <li>User Experience Design</li>
          <li>Website Design & Development</li>
          <li>E-commerce Design & Development</li>
          <li>Email Marketing, Design & Development</li>
          <li>Social Media Strategy</li>
          <li>Content Strategy</li>
        </ul>
      </div>
      <div class="col-3">
        <span class="icon tower"></span>
        <h3>Brand Strategy</h3>
        <ul>
          <li>Mission & Visioning</li>
          <li>Brand Analysis</li>
          <li>Brand Messaging</li>
          <li>Brand Positioning</li>
          <li>Competitive Analysis</li>
          <li>Brand Conslutation</li>
        </ul>
      </div>
      <div class="col-3">
        <span class="icon package"></span>
        <h3>Print & Packaging</h3>
        <ul>
          <li>Art Direction</li>
          <li>Product & Packaging Design</li>
          <li>Signage & Billboard Design</li>
          <li>Brochure & Menu Design</li>
          <li>Poster Design</li>
          <li>Brand Environment Design</li>
          <li>Stationery Design</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="section testimonials">
  <div class="container">
    <h4>Testimonials</h4>
    <div class="slider white">
      <div class="slide">
        <blockquote>
          <p>"Honor Roll was an ideal collaborator to help <br/> us develop a framework for an editorially-<br/>driven, content-rich digital experience."</p>
          <cite>David Rockwell</cite>
          <span>Founder and President of Rockwell Group</span>
        </blockquote>
      </div>
      <div class="pagination">
        <a>1</a>
        <a>2</a>
        <a class="active">3</a>
        <a>4</a>
        <a>5</a>
      </div>
    </div>
  </div>
</div>

<div class="section contacts">
  <div class="container">
    <h4>A Team Dedicated To Your Success</h4>
    <div class="grid padded-10">
      <div class="col-6">
        <%= image_tag 'james_pic.png' %>
        <b>James Carter</b>
        <span>Founder / Head Of Design</span>
        <a href="https://twitter.com/jamescarterhr">@jamescarterhr</a>
      </div>
      <div class="col-6">
        <%= image_tag 'denney_pic.png' %>
        <b>Denney Pham</b>
        <span>Lead Strategist</span>
        <a href="https://twitter.com/Denney_theJets">@Denney_theJets</a>
      </div>
    </div>
  </div>
</div>
