---
section: studio
---

<% content_for :header do %>
  <b>Branding + Design + Strategy</b>
  <h1>Investing in the future by creating brands that improve the quality of life for all.</h1>
  <h2>We partner with forward-thinking, brands, tastemakers, visionares and entrepreneurs struggling to find an identity that connects with their audience and stands out in a crowded market.</h2>
<% end %>

<% content_for :header_logo do %>
  <span>Studio</span>
<% end %>

<div class="section brand">
  <div class="container">
    <h4>How We Support your Brand</h4>
    <div class="slider">

      <!--First slide-->
      <div class="slide" data-slidr="1" data-color="#FAF6F1" data-font-color="#4D494D">
        <p>With our help, clients jumpstart their brand's presence <br/>and solve real business problems while addressing the <br/> needs of people planet and profit. </p>
        <h3>Lets Make Great Work</h3>
        <a href="<%= url_for('/contact') %>" class="button">Contact Us Now</a>
      </div>

      <!--Second slide-->
      <div class="slide" data-slidr="2" data-color="#9AE6DA" data-font-color="black">
        <p>
          At Honor Roll, we believe in investing in the future by <br/>creating brands that improve the quality of life for all.
        </p>
        <p>
          Using our design-centric approach to problem solving, <br/>we help clients share their stories, shape their <br/>products and otherwise create a world-class user-<br/>centric brand that expresses what they’re all about.
        </p>
      </div>

      <!--Third slide-->
      <div class="slide" data-slidr="3" data-color="#FF5E64" data-font-color="white">
        <p>
          The road to get there requires a bit of elbow grease. <br/>
          • You must share your brand’s story in a unique and authentic way. <br/>
          • You must become an indispensable resource in your customers lives. <br/>
          • You must understand their hopes and desires and translate them <br/>into an experience that solves their problems. 
        </p>
        <p>
          (Did we mention you need to get their attention first?) <br/>
          Sounds tough? But dont worry, we can help you get there.
        </p>
      </div>

      <!--Fourth slide-->
      <div class="slide" data-slidr="4" data-color="#152038" data-font-color="#ED98B4">
        <p>
          Sounds like some dream, right? <br/>
          <br/>
          Its not. This is what a business looks like with an <br/>amazing brand experience.<br/>
          <br/>
          Its memorable, inspiring and those who comes into <br/>contact with it, instantly feel like they are extension <br/>of the brands story.
        </p>
      </div>

      <!--Fifth slide-->
      <div class="slide" data-slidr="5" data-color="#FAF6F1" data-font-color="#4D494D">
        <p>
          Imagine your business is universally loved, with a <br/>devoted following and an influence that is felt amongst <br/>customers as well as your peers. 
          <br/>
          <br/>
          You’re solving customer problems and building a <br/>business that not only makes a difference, but also <br/>makes lives better. 
        </p>
      </div>

    </div>
  </div>
</div>

<div class="section capabilities">
  <div class="container">
    <h4>Our Capabilities</h4>
    <div class="grid">
      <div class="col-3">
        <span class="icon eye"></span>
        <h3>Brand Identity</h3>
        <ul>
          <li>Brand Collateral</li>
          <li>Brand Creation</li>
          <li>Logo Development</li>
          <li>Identity System</li>
          <li>Naming & Taglines</li>
          <li>Brand Guidelines</li>
        </ul>
      </div>
      <div class="col-4">
        <span class="icon computer"></span>
        <h3>Digital Marketing & Design</h3>
        <ul>
          <li>Information Architecture</li>
          <li>User Experience Design</li>
          <li>Website Design & Development</li>
          <li>E-commerce Design & Development</li>
          <li>Email Marketing, Design & Development</li>
          <li>Social Media Strategy</li>
          <li>Content Strategy</li>
        </ul>
      </div>
      <div class="col-3">
        <span class="icon tower"></span>
        <h3>Brand Strategy</h3>
        <ul>
          <li>Mission & Visioning</li>
          <li>Brand Analysis</li>
          <li>Brand Messaging</li>
          <li>Brand Positioning</li>
          <li>Competitive Analysis</li>
          <li>Brand Conslutation</li>
        </ul>
      </div>
      <div class="col-3">
        <span class="icon package"></span>
        <h3>Print & Packaging</h3>
        <ul>
          <li>Art Direction</li>
          <li>Product & Packaging Design</li>
          <li>Signage & Billboard Design</li>
          <li>Brochure & Menu Design</li>
          <li>Poster Design</li>
          <li>Brand Environment Design</li>
          <li>Stationery Design</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="section testimonials">
  <div class="container">
    <h4>Testimonials</h4>
    <div class="slider white">
      <div class="slide" data-slidr="1">
        <blockquote>
          <p>"Honor Roll was an ideal collaborator to help <br/> us develop a framework for an editorially-<br/>driven, content-rich digital experience."</p>
          <cite>David Rockwell</cite>
          <span>Founder and President of Rockwell Group</span>
        </blockquote>
      </div>
      <div class="slide" data-slidr="2">
        <blockquote>
          <p>"Lorem ipsum dolor sit amet."</p>
          <cite>David Rockwell</cite>
          <span>Founder and President of Rockwell Group</span>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<div class="section contacts">
  <div class="container">
    <h4>A Team Dedicated To Your Success</h4>
    <div class="grid padded-10">
      <div class="col-6">
        <%= image_tag 'james_pic.png' %>
        <b>James Carter</b>
        <span>Founder / Head Of Design</span>
        <a href="https://twitter.com/jamescarterhr">@jamescarterhr</a>
      </div>
      <div class="col-6">
        <%= image_tag 'denney_pic.png' %>
        <b>Denney Pham</b>
        <span>Lead Strategist</span>
        <a href="https://twitter.com/Denney_theJets">@Denney_theJets</a>
      </div>
    </div>
  </div>
</div>
