---
section: studio
---

<% content_for :header do %>
  <b>Our Mission</b>
  <h1>Creating impact through the lens of humanity.</h1>
  <h2>Influencing the next generation of great businesses by creating brands that<br/> equally supports the needs of people, the planet, and profit.</h2>
<% end %>

<% content_for :header_logo do %>
  <span>Studio</span>
<% end %>

<div class="section about">

  <div class="container grid">

    <div class="grid">

      <div class="col-6">
        <h4>Your Business Problems</h4>
        <p>Imagine your business is universally loved, with a devoted following and an influence that is felt amongst customers as well as your peers. You’re solving customer problems and building a business that not only makes a difference, but also makes lives better.</p>
        <p>Sounds like some dream, right? It's not. This is what a business looks like with an amazing brand experience. It's memorable, inspiring and for those who come into contact with it, instantly feel like they are extension of the brand's story.</p>
        <p>In order to get there, you must:</p>
        <ul>
          <li>Share your brand’s story in a unique and authentic way.</li>
          <li>Become an indispensable resource to your customers.</li>
          <li>Turn their desires into problem-solving experiences.</li>
        </ul>
        <p>(Did we mention you need to earn their attention first?) Sounds tough? Don't worry, we can help you get there.
        </p>

      </div>

      <div class="col-6 contact">
        <h4>Our Brand Solutions</h4>
        <p>At Honor Roll, we believe in investing in the future by creating brands that improve the quality of life for all.</p>
        <p>Using our design-centric approach to problem solving, we help clients share their stories, shape their products and create a world-class user-centric brand that expresses what they’re all about.</p>
        <p>With our help, clients jumpstart their brand's presence and solve real business problems while addressing the needs of people planet and profit.</p>

        <b>Let's Make Great Work Together</b>
        <a class="button" href="<%= url_for('/contact') %>">Contact Us Now</a>

      </div>

    </div>

  </div>

</div>

<div class="section capabilities">
  <div class="container">
    <h4 style="margin-bottom: 0;">Our Capabilities</h4>
    <div class="grid">
      <div class="col-3">
        <span class="icon eye"></span>
        <h3>Brand Identity</h3>
        <ul>
          <li>Brand Collateral</li>
          <li>Brand Creation</li>
          <li>Logo Development</li>
          <li>Identity System</li>
          <li>Naming & Taglines</li>
          <li>Brand Guidelines</li>
        </ul>
      </div>
      <div class="col-3">
        <span class="icon computer"></span>
        <h3>Digital Marketing & Design</h3>
        <ul>
          <li>Information Architecture</li>
          <li>User Experience Design</li>
          <li>Website Design & Development</li>
          <li>E-commerce Design & Development</li>
          <li>Email Marketing, Design & Development</li>
          <li>Social Media Strategy</li>
          <li>Content Strategy</li>
        </ul>
      </div>
      <div class="col-3">
        <span class="icon tower"></span>
        <h3>Brand Strategy</h3>
        <ul>
          <li>Mission & Visioning</li>
          <li>Brand Analysis</li>
          <li>Brand Messaging</li>
          <li>Brand Positioning</li>
          <li>Competitive Analysis</li>
          <li>Brand Conslutation</li>
        </ul>
      </div>
      <div class="col-3">
        <span class="icon package"></span>
        <h3>Print & Packaging</h3>
        <ul>
          <li>Art Direction</li>
          <li>Product & Packaging Design</li>
          <li>Signage & Billboard Design</li>
          <li>Brochure & Menu Design</li>
          <li>Poster Design</li>
          <li>Brand Environment Design</li>
          <li>Stationery Design</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="section testimonials">
  <div class="container">
    <h4>Testimonials</h4>
    <div class="slider white">
      <div class="slide" data-slidr="1">
        <blockquote>
          <p>"Honor Roll was an ideal collaborator to help <br/> us develop a framework for an editorially-<br/>driven, content-rich digital experience."</p>
          <cite>David Rockwell</cite>
          <span>Founder and President of Rockwell Group</span>
        </blockquote>
      </div>
      <div class="slide" data-slidr="2">
        <blockquote>
          <p>"Lorem ipsum dolor sit amet."</p>
          <cite>David Rockwell</cite>
          <span>Founder and President of Rockwell Group</span>
        </blockquote>
      </div>
    </div>
  </div>
</div>
