---
section: terms
header_class: dark
contact_banner: false
---

<% content_for :header_logo do %>
  <span>Terms of Service</span>
<% end %>

<div class="section page terms">

  <h1 id="terms-header">Terms of Service</h1>

  <div class="container alt">

    <h3>1. Acceptance of Terms</h3>
    <p>PLEASE READ THESE TERMS OF SERVICE CAREFULLY.  The website workwithhonor.com (“Site”) and the various features, content, materials, and services offered or available in connection with the Site (“Services”) are provided by Honor Roll LLC (“we,” “us,” and “our”).  You agree that, by accessing the Site and Services, you have read, understood, and agree to be bound by all of these Terms of Service.  IF YOU DO NOT AGREE TO ALL OF THESE TERMS, DO NOT USE THE SITE OR SERVICES.</p>

    <h3>2. Modification to Terms</h3>
    <p>We reserve the right to change or modify any of the terms and conditions contained in these Terms of Service at any time or for any reason at our sole discretion.  Any changes or modifications will be effective immediately upon posting the revised Terms of Service on the Site and you waive any right you may have to receive a specific notice of each such change or modification.  Your continued use of the Site or Services after such posting means you accept and agree to be bound by the modified Terms of Service.  You are encouraged to periodically review these Terms of Service to stay informed of updates.</p>

    <h3>3. License to Use Site</h3>
    <p>The Site and Services are intended for users who are at least 18 years old.  Subject to full compliance with these Terms of Service, we grant you a limited, nonexclusive, nontransferable, nonassignable, revocable license to access and use the Site and Services for your informational and non-commercial use only, provided that you agree NOT to:
    <ul>
      <li>Download any portion of the Site or Services, except as expressly permitted on the Site.</li>
      <li>Republish, incorporate, or otherwise use the Site or reproduce, distribute, publicly perform, or publicly display any Services without our express written consent.</li>
      <li>Use data mining, scraping, or other data gathering or extraction methods on the Site.</li>
      <li>Modify or otherwise make any derivative use of the Site or Services.</li>
      <li>Resell or use the Site for commercial use without our express written consent.</li> 
      <li>Use the Site or Services to gain advertising or subscription revenue.</li>
      <li>Sell advertising on our Site or any other website that is targeted to any of our Services.</li>
      <li>Use the Site or Services in any way that we find, in its sole discretion, competes with or displaces the market for the Site or Services.</li>
    </ul>
    Any use of the Site or Services other than as specifically authorized in these Terms of Service is strictly prohibited and will terminate the license granted in these Terms of Service.</p>

    <h3>4. Copyright Policy</h3>
    <p>Unless otherwise indicated, the Site and Services are our proprietary property and are protected by United States and international copyright laws. All rights are reserved. Nothing in these Terms of Service shall be construed as conferring any license to intellectual property rights, whether by estoppel, implication, or otherwise. We respect the intellectual property rights of others. In accordance with the Digital Millennium Copyright Act (“DMCA”) and other applicable laws, we strive to remove any infringing material from the Site. If you believe that anything on the Site infringes upon any copyright which you own or control, you may file a notification of such infringement with us by email to: hello@workwithhonor.com. Please see 17 U.S.C. 512(c)(3) for the requirements of a proper takedown notification. If you knowingly misrepresent in your notification that the material is infringing, you will be liable for any damages, including costs and attorney fees, incurred by us or the alleged infringer as the result of our reliance on such misrepresentation in removing or disabling access to the material claimed to be infringing.</p>

    <h3>5. Trademarks</h3>
    <p>The Services include both registered and unregistered trademarks, service marks, logos, slogans, and designs that are our property and subject to and protected by the copyright, trademark, and intellectual property laws of the United States and may not be copied, imitated, or used by you. In addition, the look and feel of the Site is our service mark, trademark and/or trade dress and may not be copied, imitated or used by you. All other trademarks, service marks, product names, and company names or logos mentioned in the Site are the property of their respective owners. Reference to any products, services, or other information, by trade name, trademark, or otherwise does not constitute or imply endorsement, sponsorship or recommendation thereof, or any affiliation therewith, by us. You may browse the Site, download and print content with the proviso that you keep intact all copyright and other proprietary statements and trademark notices. No reproduction of any part of this Site may be sold or distributed for commercial gain nor shall it be modified or incorporated in any other work, publication, or website.</p>

    <h3>6. Links</h3>
    <p>You may not use our logo or any other proprietary graphic to link to the Site or Services; however, we permit text links to content on our Site, provided: (a) the purpose of the link is not to damage the reputation of the Site, its employees or users; (b) the appearance of the link does not imply an association with us or the Site that does not exist; and (c) when accessed, the link must open in full-screen, and not as a frame on the linked website. Third party websites are not under our control and we are not responsible for the quality, content, nature, or reliability of third-party websites accessible by hyperlink from the Site or websites linking to the Site. We may provide links to you only as a convenience, and the inclusion of any link does not imply affiliation, endorsement, or adoption by us of any website. By using the Site or Services, you expressly relieve us from any liability arising from your use of third-party websites. When you leave the Site, you should be aware that our terms and policies will no longer apply.</p>

    <h3>7. Submission</h3>
    <p>You acknowledge and agree that any feedback, comments, questions, suggestions, ideas, or other communication or materials (collectively, “Submissions”) regarding the Site or Services provided by you as a submission to us will become our sole property. We will own exclusive rights, including all intellectual property rights, and we will be entitled to the unrestricted use and dissemination of all Submissions for any lawful purpose without acknowledgment to you or payment of any compensation. You hereby waive your moral rights to any Submissions and you hereby warrant that any Submission is original with you or that you have the legal right to make the Submission. You agree that you will have no recourse against us for any alleged or actual infringement or misappropriation of any proprietary right in your communications to us. We are under no obligation to use any Submission.</p>

    <h3>8. Electronic Communications</h3>
    <p>Visiting the Site, sending us emails, and completing online forms constitute electronic communications. You consent to receive electronic communications and you agree that all agreements, notices, disclosures, and other communications we provide to you electronically, via email and on the Site, satisfy any legal requirement that such communication be in writing.</p>

    <h3>9. Your Warranties and Representations</h3>
    <p>You warrant and represent that you have the right and legal capacity to agree to and comply with these Terms of Service. You affirm that you are 18 years of age or older and that you are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations, and warranties set forth in these Terms of Service, and you agree to abide by and comply with these Terms of Service. Further, you warrant and represent that you will not access the Site through automated or non-human means, whether through a bot, script, or otherwise. If you are using the Site on behalf of a third party, including but not limited to a business entity, religious organization or school, you warrant that you are the authorized representative of that third party and have the authority to bind that third party to these Terms of Service. To the maximum extent permitted by law, you expressly waive all claims against us, our employees, and agents that may arise from your use or access to the Site.</p>

    <h3>10. Disclaimers</h3>
    <p>THE SITE AND SERVICES ARE PROVIDED ON AN “AS IS” BASIS WITHOUT WARRANTIES OF ANY KIND. WE DISCLAIM ALL WARRANTIES, INCLUDING WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. AS TO THE ACCURACY OR RELIABILITY OF THE SERVICES ACCESSED THROUGH THE SITE, WE DO NOT REPRESENT OR WARRANT THAT THE SITE OR SERVICES ARE ACCURATE, COMPLETE, RELIABLE, CURRENT, SECURE OR ERROR-FREE. WE ARE NOT RESPONSIBLE FOR TYPOGRAPHICAL ERRORS OR OMISSIONS. WHILE WE ATTEMPT TO MAKE YOUR ACCESS AND USE OF THE SITE AND SERVICES SAFE, WE CANNOT AND DO NOT REPRESENT OR WARRANT THAT THE SITE OR SERVICES ARE FREE OF VIRUSES, MALWARE, DEFECTIVE SOFTWARE OR OTHER HARMFUL COMPONENTS.  USE OF THE SITE AND SERVICES IS AT YOUR SOLE RISK.</p>

    <h3>11. Advertisers</h3>
    <p>We may accept advertisers and sponsors to display their advertisements and other information in certain areas of the Site such as, but not limited to, sidebar advertisements or banner advertisements. If you are an advertiser, you take full responsibility for any advertisements you place, and any services you provide or products you sell though those advertisements. We simply provide the space to place such advertisement and we have no other relationship with advertisers or sponsors.  Advertisers represent and warrant that they possess all rights and authority to place advertisements on the Site including, but not limited to, intellectual property rights, publicity rights and contractual rights. Advertisers agree that such advertisements are subject to our DMCA Copyright Policy and take-down provisions found therein. Advertisers agree that there shall be no refund or other compensation for DMCA takedown related issues.</p>

    <h3>12. Changes, Interruptions and Termination</h3>
    <p>We cannot guarantee the Site and Services will be available at all times. We may experience hardware, software, or other problems or need to perform maintenance related to the Site, resulting in interruptions, delays, or errors. From time to time and at any time, we may revise, update, suspend, discontinue, or otherwise modify the Site or Services. We reserve the right to change or discontinue the Site and Services any time without notice to you. You agree that we have no liability whatsoever for any loss, damage, or inconvenience caused by your inability to access or use the Site or Services during any downtime or discontinuance of the Site or Services. Nothing in these Terms of Service will be construed to obligate us to maintain and support the Site or Services. We may block, deny, terminate, suspend, or limit your access to or use of the Site or Services in our sole discretion, at any time and without notice or liability. We have no responsibility or obligation to maintain the Services on the Site or to supply any corrections, updates, or releases in connection therewith. Any material on the Site is subject to change without prior notice.</p>

    <h3>13. Limitation of Liability</h3>
    <p>IN NO EVENT WILL WE OR OUR EMPLOYEES OR AGENTS BE LIABLE FOR ANY DAMAGES OF ANY KIND WHATSOEVER, WHETHER IN AN ACTION IN CONTRACT, TORT OR OTHERWISE, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF OR INABILITY TO US THE SITE OR SERVICES, INCLUDING WITHOUT LIMITATION ANY DAMAGES CAUSED BY OR RESULTING FORM RELIANCE BY USER ON ANY INFORMATION OBTAINED FROM US OR THAT RESULT FROM MISTAKES, OMISSIONS, INTERRUPTIONS, DELETION OF FILES, ERRORS, DEFECTS, VIRUSES, DELAYS IN OPERATION OR TRANSMISSION OR ANY FAILURE OF PERFORMANCE, WHETHER OR NOT RESULTING FROM AN ACT OF GOD, COMMUNICATION FAILURE, THEFT, DESTRUCTION OR UNAUTHORIZED ACCESS TO OUR RECORDS, PROGRAMS OR SERVICES.  CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OF LIMITATION OF CERTAIN DAMAGES.  THEREFORE, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS.</p>

    <h3>14. Indemnification</h3>
    <p>You agree to defend, indemnify, and hold us harmless, including our employees and agents, from and against all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including attorneys’ fees), which arise from: (a) Your use of and access to the Site or Services; (b) your violation of these Terms of Service; (c) your violation of the rights of a third party, including by not limited to intellectual property rights; or (d) any act or omission by you related to the Site or Services.</p>

    <h3>15. Online Privacy</h3>
    <p>Protecting privacy of information is an important priority for us. Refer to our Privacy Policy to learn how we collect, use, and disclose information collected on the Site. Please be advised the Site and Services are hosted in the United States. We do not knowingly accept, request, or solicit information from children or knowingly market to children. Therefore, in accordance with the U.S. Children’s Online Privacy Protection Act, if we receive actual knowledge that anyone under the age of 13 has provided personal information to us, we will delete that information as quickly as is reasonably practical.</p>

    <h3>16. Choice of Law and Venue</h3>
    <p>These Terms of Service and your use of the Site and services are governed by and construed in accordance with the laws of the State of New Jersey applicable to agreements made and to be entirely performed within the State of New Jersey, without resort to its conflict of law principles.</p>

    <h3>17. Severability</h3>
    <p>If any provision of these Terms of Service is deemed unlawful, invalid, void, or for any reason unenforceable, then that provision will be deemed severable from these Terms of Service and will not affect the legality, validity, and enforceability of any remaining provisions of these Terms of Service. Our failure to enforce any particular term will not be construed as a waiver of any of our rights under these Terms of Service.</p>

    <h3>18. Questions and Comments</h3>
    <p>If you have any comments, questions, concerns or want to report a violation regarding these Terms of Service, please inform us by email to: hello@workwithhonor.com.  We will try to address all issues to the best of our abilities.</p>

    <p>This Terms of Service was last updated on October 9, 2015.</p>

  </div>

</div>
