---
section: work
---

<% content_for :header do %>
  <h1>We Build Better Brands</h1>
  <h2>Take a look at some of our recent work</h2>
<% end %>

<% content_for :header_logo do %>
  <span>Work</span>
<% end %>

<div class="section work">

  <div class="container alt">

    <div class="categories">
      <div class="value">Recent Work <span class="icon triangle-down"></span></div>
      <div class="values">
      <% data.site.categories.each_with_index do |category, index| %>
        <a href="#" class="<%= index == 0 ? 'active' : ''%>">
          <%= category %>
        </a>
        <% end %>
      </div>
    </div>

    <!--Work items-->
    <div class="grid">
      <%= partial('work/works', :locals => { :works => data.works, :portfolio => true }) %>
    </div>

  </div>

</div>
